/*#editor {
	width: 100%;
	height: 94%;
	margin: auto;
	border: solid 1px black;
}*/

html, body { 
margin: 0; 
padding: 0; 
width: 100%;
height: 100%;

}

body {
	margin: 0;
	padding: 0;
}

table#main_table
{
	display:block;
    position: absolute;
	top: 28px;
	left: 0;
	
	width:100%;
	height: 100%;
	margin: 0 auto;

}

#left_sidebar
{/*
	background: -moz-linear-gradient(90% 200% 180deg, #b8c3c7, #71787a);
	background: -webkit-gradient(linear, left center, right center, from(#71787a), to(#b8c3c7));*/
	width:10%;
	height: 100%;
	background: yellow;
}

#right_sidebar
{
/*	background: -moz-linear-gradient(90% 200% 180deg, #71787a, #b8c3c7);
	background: -webkit-gradient(linear, right center, left center, from(#71787a), to(#b8c3c7));*/
	width:10%;
	height: 100%;
	background: red;
	
}


#top_menu
{
	display:block;
	
	background: -moz-linear-gradient(90% 140% 90deg, #71787a, #b8c3c7);
	background: -webkit-gradient(linear, center bottom, center top, from(#71787a), to(#b8c3c7));
	width:100%;
	min-width:1000px;
	height:28px;
}

#top_menu ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#top_menu li
{
	font-family: Tahoma;
	font-size: 13px;
	margin-top: 1px;
	margin-left: 11px;
	margin-right: 11px;
	margin-bottom: 1px;
	padding-top:3px;
	float: left;
	cursor:pointer;
}

#top_menu li:hover
{
	margin-top: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0;
	height: 23px;
	background-color: #e7f5fa;
	cursor: pointer;
	border: solid 1px #9de2fb;
}

#top_menu li.nohover:hover
{
	background: -moz-linear-gradient(90% 140% 90deg, #71787a, #b8c3c7);
	background: -webkit-gradient(linear, center bottom, center top, from(#71787a), to(#b8c3c7));
	border: none;
	margin-top: 1px;
	margin-left: 11px;
	margin-right: 11px;
	margin-bottom: 1px;
	cursor: default;
}

#top_menu li img
{
	margin-right: 5px;
}

/*tr td
{
	height:620px;
}*/

#codearea {
	width: 80%;
	height: 100%;
}

.editor
{

	width: 100%;
	border: none;
	background: green;
	overflow: auto;
}

.log
{

	width: 100%;
	margin-right: 0;
	border: none;
}



#chat_in{
	border:1px solid #bdc7d8;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	padding:3px;
	-webkit-appearance:none;
	-webkit-border-radius:0;
	width: 100%;
	margin-bottom:0;
	}
	
input#chat_in{
	width: 90%;
}

#chat_content ul {
	font-family: Tahoma;
	font-size: 13px;
	list-style: none;
}

#chat_content ul li{
	width: 20px;
}
