#editor {
	width: 80%;
	height: 400px;
	margin: auto;
	border: solid 1px black;
}

#left_sidebar {
	width: 10%;
	height: 400px;
	display: inline;
	float: left;
	border: solid 1px black;
}

#right_sidebar {
	width: 10%;
	height: 400px;
	display: inline;
	float: right;
	border: solid 1px black;
}

form {
	display: inline;
    float: left;
    width: 70%;
}