	.logTable
	{
		border: 1px solid #000;
		margin: 0;
		padding: 0;
		width: 800px;
	}
	.logTrErrorFirst a
	{
		color: #ff0;
	}
	.logTrWarningFirst a
	{
		color: #f70;
	}
	.logTrErrorFirst td
	{
		border-top: 2px solid #f54;
		border-bottom: 1px solid #f53;
		background-color: #f65;
	}
	.logTrWarningFirst td
	{
		border-top: 2px solid #fe2;
		border-bottom: 1px solid #ff0;
		background-color: #ff6;
	}
	.logTrErrorSecond, .logTrWarningSecond
	{
		border-spacing-top: 40px;
	}
	.logTrErrorSecond
	{
		background-color: #fa8;
	}
	.logTrWarningSecond
	{
		background-color: #ffb;
	}
	.logTrFinalError td, .logTrFinalWarning td
	{
		border-top: 1px solid #000;
	}
	.logTrFinalError td
	{
		background-color: #f54;
	}
	.logTrFinalWarning td
	{
		background-color: #ff4;
	}
	.logTrFinalError td.logTd2, .logTrFinalWarning td.logTd2
	{
		padding-top: 5px;
		padding-bottom: 1px;
		padding-left: 5px;
		font-weight: bold;
	}
	.logTrFinalCompileSuccess td.logTd1
	{
		background-color: #af5;
	}
	.logTrFinalCompileSuccess td.logTd2
	{
		background-color: #efa;
		font-weight: bold;
		border: 2px ridge #af5;
	}
	.logTrFinalCompileWarning td.logTd1
	{
		background-color: #ff4;
	}
	.logTrFinalCompileWarning td.logTd2
	{
		background-color: #efa;
		font-weight: bold;
		border: 2px ridge #ff4;
	}
	.logTrFinalCompileFailure td.logTd1
	{
		background-color: #f54;
	}
	.logTrFinalCompileFailure td.logTd2
	{
		background-color: #fb8;
		font-weight: bold;
		border: 2px ridge #f54;
	}
	.logTd1
	{
		border-right: 1px solid #000;
		padding-right: 5px;
		text-align: right;
		width: 45px;
		font-weight: bold;
	}
	.logTd2
	{
		padding-top: 3px;
		padding-left: 5px;
	}
	.logTdFixed
	{
		padding-bottom: 5px;
		font-family: monospace;
	}
	.logTrErrorSecond td.logTdFixed
	{
		border: 2px groove #fa8;
		background-color: #fca;
	}
	.logTrWarningSecond td.logTdFixed
	{
		border: 2px groove #ffb;
		background-color: #ffd;
	}