body {
	margin: 0;
	padding: 0;
	/* background-image: url("/img/pattern.png"); */
	overflow: hidden;
	font: Tahoma;
	background-color:#eee !important;
}
/*****Style from User Project *******/

/*************** PROFILE STYLE ***************/


.mainProfile {

	height: 100%;


}



#ProfileContainer{
	width:700px;
	border-top: 1px solid #ccc;
	 border-bottom: 1px solid #ccc;
	 -moz-box-shadow: 0 0 5px 5px #ddd;
	 -webkit-box-shadow: 0 0  5px 5px #ddd;
	  box-shadow: 0 0 5px 5px #ddd;
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  border-radius: 10px;	
	
	}

.profileImg{
	width: 35%;
	height:180px;
	float:left;
	margin-top:25px;

	}
	
.userData{

	margin-left:10%;
	width:340px;
	height:180px;	
	width: 65%;
	text-align: left;
	margin-bottom: -34px;
}

	
.userInfo {

	margin-left: 20%;

}	
	
.userDataLeft {

	float:left;
	margin-right:6%;

}


	
	
.formMsg{

 	width:70%;
 	margin-left:30%;
 }
		
.formMsg textarea{
	height:80px;
	width:90%;
	margin-left:5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #DDDDDD;
	 font-size: 14px;
	  padding: 8px;
	  float:right;

}	


.msgContainer{

 	width:90%;
	margin-left: 10%;
}	
	
.msgLeftCol{
	widht:110px;
 	float:left;

}	

.msgButton {
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
    background: url("/images/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
    border-color: #DDDDDD #DDDDDD #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    font: 11px/14px "Lucida Grande",sans-serif;
 	margin: 0;
    overflow: visible;
    padding: 4px 8px 5px;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 90px;
	font-size:120%;
	margin-left: 232px;
	margin-top:8px;

}


#message {
	
	height: 70px;
}

.messageImg {

	width: 10%;
	float: left;	

}


.messageInfo {

	height: 35px;
	width: 60%;
	text-align: left;
	
}



.messageText {
	
	height: 35px;
	width: 60%;
	text-align: left;
	

}

.msgFrom {
	
	padding-right: 45px;

}

.msgHr {
	
	color: #CCCCCC;
	border-top: 1px solid #CCCCCC;
	box-shadow: 0 0 3px 0;
	margin-right: 30%;
	wdth: 70%; 

}
	
input[type="text"]{

    -moz-border-radius: 5px 5px 5px 5px;
	webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
    border: 1px solid #DDDDDD;
    font-size: 14px;
    margin: 5px 5px 5px 30px;
    padding: 8px;
    width: 275px;

}
		
 input[type="password"]{
    -moz-border-radius: 5px 5px 5px 5px;
	webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
    border: 1px solid #DDDDDD;
    font-size: 14px;
    margin: 5px 5px 5px 30px;
    padding: 8px;
    width: 275px;
		
		}
		
input[type="submit"] {
    -moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
    background: url("/images/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
    border-color: #DDDDDD #DDDDDD #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    font: 11px/14px "Lucida Grande",sans-serif;
    margin: 0;
    overflow: visible;
    padding: 4px 8px 5px;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 120px;
	font-size:120%;
	
}

.msgComment{
	
	width:400px;
	
}


.msgsComments{
	width:400px;
	float:left;
}


	
	
.lftSmallImg{
	width:70px;
	height:70px;
	margin:5px;

	}	
.rightComments{
	width:400px;
	float:left;
	margin:5px;
	
	}
	
/*********** End Style User Project********/


/***************************************** TOP MENU **********************************************/

#top_menu {
	display: block;
	color: white;
/*	background: -moz-linear-gradient(90% 140% 90deg, #71787a, #b8c3c7);
	background: -webkit-gradient(linear, center bottom, center top, from(#71787a), to(#b8c3c7));*/
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.05, rgb(59,58,59)),
	    color-stop(0.48, rgb(102,102,102)),
	    color-stop(0.88, rgb(156,156,156))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(59,58,59) 5%,
	    rgb(102,102,102) 48%,
	    rgb(156,156,156) 88%
	);
	
	-webkit-box-shadow: 0px 1px 1px rgba(150,150,150,0.8);
	-moz-box-shadow: 0px 1px 1px rgba(150,150,150,0.8);
	box-shadow: 0px 1px 1px rgba(150,150,150,0.8);
	
	
	width:100%;
	min-width:1000px;
	height:28px;
}

#top_menu ul {
	list-style: none;
	padding: 0;
	margin:0;
}

#top_menu li {
	font-family: Tahoma;
	font-size: 13px;
	margin: 1px 11px 1px 11px;
	padding-top:3px;
	float: left;
	cursor:pointer;
}



#top_menu li.nohover:hover
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.05, rgb(59,58,59)),
	    color-stop(0.48, rgb(102,102,102)),
	    color-stop(0.88, rgb(156,156,156))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(59,58,59) 5%,
	    rgb(102,102,102) 48%,
	    rgb(156,156,156) 88%
	);
	border: none;
	margin: 1px 11px 1px 11px;
	cursor: default;
	color: white;
}

#top_menu li img
{
	margin-right: 5px;
}

#top_menu a{
	text-decoration:none;
	color:white;
}

#top_menu li:hover a {

	color: rgb(59, 58, 59);
}

/*#hidden-button
{
	display: none;
}*/


/************************************************** MAIN TABLE ***********************************************/

#main_table {
	width: 99%;
}

#main_table tr {
	width: 99%;
}
/*****************************************  SLIDERS ***********************************************************/
.left-slider {
          padding: 20px;
          width: 15%;
		  height: 400px;
          background: #ccc;
          border: 2px solid #989898;
      }

.right-slider {
          padding: 20px;
          width: 15%;
		  height: 400px;
          background: #ccc;
          border: 2px solid #989898;
      }

/***************************************** LEFT SIDEBAR - FILE MANAGER ****************************************/

#left_sidebar {
/*
	background: -moz-linear-gradient(90% 200% 180deg, #b8c3c7, #71787a);
	background: -webkit-gradient(linear, left center, right center, from(#71787a), to(#b8c3c7));*/
	margin-top: 5px;
	margin-left: 0.5%;
	float: left; 
	height: 400px;
	width: 15%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
	border-width: 1px;
	border-style: solid;
	border: medium none;
	background: rgba(255,255,255,1);
	
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}




/***************************************** RIGHT SIDEBAR - CHAT **********************************************/

#right_sidebar {
/*	background: -moz-linear-gradient(90% 200% 180deg, #71787a, #b8c3c7);
	background: -webkit-gradient(linear, right center, left center, from(#71787a), to(#b8c3c7));*/
	margin-top: 2px;
	margin-right: 0.5%;
	height: 400px;
	float: right;
	width: 15%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
	border-width: 1px;
	border-style: solid;
	border: medium none;
	background: rgba(255,255,255,1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#chat_in{
	border:1px solid #bdc7d8;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	padding:3px;
	-webkit-appearance:none;
	-webkit-border-radius:0;
	width: 100%;
	margin-bottom:0;
	}
	
input#chat_in{
	width: 80%;
	margin-left: 10%;
}

#chat_content {
	overflow: auto;
}

#chat_content ul {
	font-family: Tahoma;
	font-size: 13px;
	list-style: none;
}

#chat_content ul li {
	width: 20px;
}



/********************************************** EDITOR ************************************************/
#content{
	margin-top:50px;
	}
#codearea {
	width: 100%;
	height: 100%;
	float:left;
	margin-top: 5px;
}

#codearea textarea {


	visibility: hidden;
}

.editor
{
	resize: none;
	text-size: 20px;
	height: 400px;
	width: 98%;
	margin-right: 1%;
	margin-left: 1%;
	
	/* COLOR BG*/
	background: rgba(255,255,255,1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
	border-width: 1px;
	border-style: solid;
	border: medium none;
	
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	
	overflow: auto;
}

#log
{
	width: 98%;
	height: 12%;
	margin-right: 1%;
	margin-left: 1%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
	border-width: 1px;
	border-style: solid;
	border: medium none;
	background: rgba(255,255,255,1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	overflow: auto;
}

/*WO*/

.logTable

{

	border: 1px solid #000;

	margin: 0;

	padding: 0;

	width: 100%;

}

.logTrErrorFirst a

{

	color: #ff0;

}

.logTrWarningFirst a

{

	color: #f70;

}

.logTrErrorFirst td

{

	border-top: 2px solid #f54;

	border-bottom: 1px solid #f53;

	background-color: #f65;

}

.logTrWarningFirst td

{

	border-top: 2px solid #fe2;

	border-bottom: 1px solid #ff0;

	background-color: #ff6;

}

.logTrErrorSecond, .logTrWarningSecond

{

	border-spacing-top: 40px;

}

.logTrErrorSecond

{

	background-color: #fa8;

}

.logTrWarningSecond

{

	background-color: #ffb;

}

.logTrFinalError td, .logTrFinalWarning td

{

	border-top: 1px solid #000;

}

.logTrFinalError td

{

	background-color: #f54;

}

.logTrFinalWarning td

{

	background-color: #ff4;

}

.logTrFinalError td.logTd2, .logTrFinalWarning td.logTd2

{

	padding-top: 5px;

	padding-bottom: 1px;

	padding-left: 5px;

	font-weight: bold;

}

.logTrFinalCompileSuccess td.logTd1

{

	background-color: #af5;

}

.logTrFinalCompileSuccess td.logTd2

{

	background-color: #efa;

	font-weight: bold;

	border: 2px ridge #af5;

}

.logTrFinalCompileWarning td.logTd1

{

	background-color: #ff4;

}

.logTrFinalCompileWarning td.logTd2

{

	background-color: #efa;

	font-weight: bold;

	border: 2px ridge #ff4;

}

.logTrFinalCompileFailure td.logTd1

{

	background-color: #f54;

}

.logTrFinalCompileFailure td.logTd2

{

	background-color: #fb8;

	font-weight: bold;

	border: 2px ridge #f54;

}

.logTd1

{

	border-right: 1px solid #000;

	padding-right: 5px;

	text-align: right;

	width: 45px;

	font-weight: bold;

}

.logTd2

{

	padding-top: 3px;

	padding-left: 5px;

}

.logTdFixed

{

	padding-bottom: 5px;

	font-family: monospace;

}

.logTrErrorSecond td.logTdFixed

{

	border: 2px groove #fa8;

	background-color: #fca;

}

.logTrWarningSecond td.logTdFixed

{

	border: 2px groove #ffb;

	background-color: #ffd;

}


.chatButton input{
	
	font-size: 14px;
	width: 90px;
	margin-bottom: 15px;
	margin-left: 122px;
	margin-top: 15px;
	


}


/*******************************  Home ******************************************/

.logInBox{
	
	margin-left: auto;
	margin-right: auto;
	float:left;

	border: 1px solid #ccc;
	-moz-box-shadow: 0 0 5px 5px #ddd;
    -webkit-box-shadow: 0 0  5px 5px #ddd;
    box-shadow: 0 0 5px 5px #ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 550px;
    height:240px;
	
}


.logInHome{
	width: 500px;
    height:200px;
	margin-left: auto;
	margin-right: auto;
}

.signUpBox{
	margin-left: auto;
	margin-right: auto;


	border: 1px solid #ccc;
	-moz-box-shadow: 0 0 5px 5px #ddd;
    -webkit-box-shadow: 0 0  5px 5px #ddd;
    box-shadow: 0 0 5px 5px #ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	width: 550px;
    height:507px;
	
}


.signUpHome{
	padding-top:35px;
	width: 500px;
    height:450px;

}



.signUpHome input[type="submit"]{
	
	margin-left:200px;
	
}



#changeBox{
	
		border: 1px solid #ccc;
	-moz-box-shadow: 0 0 5px 5px #ddd;
    -webkit-box-shadow: 0 0  5px 5px #ddd;
    box-shadow: 0 0 5px 5px #ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 550px;
    height:320px;
	
	
}
 
#lostBox{
     border: 1px solid #ccc;
	 -moz-box-shadow: 0 0 5px 5px #ddd;
     -webkit-box-shadow: 0 0  5px 5px #ddd;
     box-shadow: 0 0 5px 5px #ddd;
	 -webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
	 border-radius: 10px;
	 width: 550px;
     height:220px;
	 padding:30px auto;	
	 margin-bottom: 30px;
	 padding-top: 6px;
	 padding-bottom: 11px;
	 margin-left: -26px;
	
}
 .changePage{
	width: 500px;
    height:320px;
	margin-left: auto;
	margin-right: auto;
}


.changePage input[type="submit"] {

	
	margin-left: 259px;
	margin-top: 16px;
	
	
}
 .editBox{
 	
	border: 1px solid #ccc;
	-moz-box-shadow: 0 0 5px 5px #ddd;
    -webkit-box-shadow: 0 0  5px 5px #ddd;
    box-shadow: 0 0 5px 5px #ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 550px;
    height:442px;
 	
 }
 
 .editPage{
	padding-top:50px;
	width: 500px;
    height:370px;
	margin-left: auto;
	margin-right: auto;
}

 
 #btnLogin{
 	margin-left:32px;
	margin-top:5;
 }
 
 .fontTahoma{
 	font-family:Tahoma;
	font-size:14px;
 }
.marginLeft{
	
	margin-left:5px;
}
.marginTop{
	margin-top:60px;
}



#lift__noticesContainer__ {
	
	height: 50px;
	padding-top: 12px;


}

#lift__noticesContainer__ li {
	
	color: red;
	font-family:Tahoma;
	font-size:14px;
	list-style-type:none; 
		
}



.errorMessage {

	color: red;
	font-family:Tahoma;
	font-size:12px;
}




.rowSignUp{
	width:450px;
	float:left;

}

.tdlSignUp{
	width:25%;
	float:left;
	margin-top: 15px;
}


.tdrSignUp{
	width:75%;
	float:left;
	margin-top: 5px;
}

#users_password{

	margin-left:50px;
}



.Password  span input{
	width:87px;

}


.submitSignUp{
	width:450px;
	float:left;
	margin-top:20px;
	margin-left:55px;
}



.submitEdit{

	width:450px;
	float:left;
	margin-top:20px;
	margin-left:153px;

}

.Gender select{
	margin-top: 5px;
	margin-bottom: 5px;
	width:135px;

	margin-right:128px;

    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    font: 13px/18px Tahoma Neue,Helvetica,Arial,sans-serif !important;
   
    padding: 3px 4px;
    


	-moz-appearance: menulist;
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    background-color: -moz-combobox;
    border-color: threedface;
    border-style: inset;
    border-width: 2px;
    color: -moz-comboboxtext;
    cursor: default;
    font: -moz-list;
    line-height: normal !important;
   
    overflow: -moz-hidden-unscrollable;
    text-align: start;
    text-indent: 0;
    text-shadow: none;
    white-space: nowrap !important;
    word-wrap: normal !important;

}

.submitLogin{
	margin-left:162px;
	margin-top:15px;
	width:300px;
	float:left;
}


.floatLeft{
	float:left;
}


.loginWidth{
	width:400px;
}


.loginLeftCol{
	width:50px;
	float:left;	
	margin-top:12px;

}


.logintRightCol{
	width:300px;
	margin-left:2px;
}


.lostHome input[type="submit"] {

	margin-left: 203px;
	margin-top: 10px;


}


.lostHome {
	
	margin-bottom: 10px;

}

.lostHome td {

	padding-bottom: 10px;

}



.CodeMirror-wrapping {
	
	height: 600px;
	width: 98%;
	margin-bottom: 2%;

}

.CodeMirror-wrapping iframe {

	background-color: #fff;
	padding-bottom: 10px;
	border: medium none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-left: 1%;
    margin-right: 1%;
    overflow: auto;
    width: 98%;
    height: 600px;
    margin-bottom: 1%;
}


#users_accountID {


	margin-right: 98px;
}


#users_password {
	
	margin-left: 18px;
	padding-right: 165px;

}

#users_email {

	margin-right: 148px;

}




.projButton {

	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
    background: url("/images/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
    border-color: #DDDDDD #DDDDDD #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    font: 11px/14px "Lucida Grande",sans-serif;
	margin-left: 184px;
    overflow: visible;
    padding: 4px 8px 5px;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 120px;
	font-size:120%;

}



