body {
	margin: 0;
	padding: 0;
	/* background-image: url("/img/pattern.png"); */
	
	font: Tahoma;
	background-color:#E7F5FA !important;
}
/*****Style from User Project *******/
.ProfileContainer{
	width:900px;
	
	
	}

.profileImg{
	width:100px;
	height:100%;
	float:left;

	}
	
.userData{

	margin-left:10px;
	float:left;
	width:750px;
	
	}
	
textarea{
	height:50px;
	width:350px;

	margin-left:5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
    border: 1px solid #DDDDDD;
    font-size: 14px;
    padding: 8px;
    width: 42%;

	
	}
	input[type="text"]{
    -moz-border-radius: 5px 5px 5px 5px;
	webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
    border: 1px solid #DDDDDD;
    font-size: 14px;
    margin: 5px 5px 5px 30px;
    padding: 8px;
    width: 275px;
		
		}
		
 input[type="password"]{
    -moz-border-radius: 5px 5px 5px 5px;
	webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
    border: 1px solid #DDDDDD;
    font-size: 14px;
    margin: 5px 5px 5px 30px;
    padding: 8px;
    width: 275px;
		
		}
		
		input[type="submit"] {
    -moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
    background: url("/images/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
    border-color: #DDDDDD #DDDDDD #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    font: 11px/14px "Lucida Grande",sans-serif;
    margin: 0;
    overflow: visible;
    padding: 4px 8px 5px;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 120px;
	font-size:120%;}
#formMSG{
	width:900px;
    merge-top: 500px;
    

	
	
	}
.msgComment{
	width:600px;

	
	}
.msgsComments{
	width:600px;
	float:left;
	}
.msgContainer{
	width:600px;
	}
.lftSmallImg{
	width:70px;
	height:70px;
	margin:5px;

	}	
.rightComments{
	width:520px;
	float:left;
	margin:5px;
	
	}
	
/*********** End Style User Project********/


/***************************************** TOP MENU **********************************************/

#top_menu {
	display: block;
	color: white;
/*	background: -moz-linear-gradient(90% 140% 90deg, #71787a, #b8c3c7);
	background: -webkit-gradient(linear, center bottom, center top, from(#71787a), to(#b8c3c7));*/
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.05, rgb(59,58,59)),
	    color-stop(0.48, rgb(102,102,102)),
	    color-stop(0.88, rgb(156,156,156))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(59,58,59) 5%,
	    rgb(102,102,102) 48%,
	    rgb(156,156,156) 88%
	);
	
	-webkit-box-shadow: 0px 1px 1px rgba(150,150,150,0.8);
	-moz-box-shadow: 0px 1px 1px rgba(150,150,150,0.8);
	box-shadow: 0px 1px 1px rgba(150,150,150,0.8);
	
	
	width:100%;
	min-width:1000px;
	height:28px;
}

#top_menu ul {
	list-style: none;
	padding: 0;
	margin:0;
}

#top_menu li {
	font-family: Tahoma;
	font-size: 13px;
	margin: 1px 11px 1px 11px;
	padding-top:3px;
	float: left;
	cursor:pointer;
}

#top_menu li:hover {
	margin: 0 10px 0 10px;
	height: 23px;
	background-color: #e7f5fa;
	color: rgb(59,58,59);
	cursor: pointer;
	border: solid 1px #9de2fb;
}

#top_menu li.nohover:hover
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.05, rgb(59,58,59)),
	    color-stop(0.48, rgb(102,102,102)),
	    color-stop(0.88, rgb(156,156,156))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(59,58,59) 5%,
	    rgb(102,102,102) 48%,
	    rgb(156,156,156) 88%
	);
	border: none;
	margin: 1px 11px 1px 11px;
	cursor: default;
	color: white;
}

#top_menu li img
{
	margin-right: 5px;
}


/************************************************** MAIN TABLE ***********************************************/

#main_table {
	width: 99%;
}

#main_table tr {
	width: 99%;
}


/***************************************** LEFT SIDEBAR - FILE MANAGER ****************************************/

#left_sidebar {
/*
	background: -moz-linear-gradient(90% 200% 180deg, #b8c3c7, #71787a);
	background: -webkit-gradient(linear, left center, right center, from(#71787a), to(#b8c3c7));*/
	margin-top: 5px;
	width:10%;
	height: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
	border-width: 1px;
	border-style: solid;
	border: medium none;
	background: rgba(255,255,255,1);
	
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}




/***************************************** RIGHT SIDEBAR - CHAT **********************************************/

#right_sidebar {
/*	background: -moz-linear-gradient(90% 200% 180deg, #71787a, #b8c3c7);
	background: -webkit-gradient(linear, right center, left center, from(#71787a), to(#b8c3c7));*/
	margin-top: 5px;
	width:10%;
	height: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
	border-width: 1px;
	border-style: solid;
	border: medium none;
	background: rgba(255,255,255,1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#chat_in{
	border:1px solid #bdc7d8;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	padding:3px;
	-webkit-appearance:none;
	-webkit-border-radius:0;
	width: 100%;
	margin-bottom:0;
	}
	
input#chat_in{
	width: 90%;
}

#chat_content {
	overflow: auto;
}

#chat_content ul {
	font-family: Tahoma;
	font-size: 13px;
	list-style: none;
}

#chat_content ul li {
	width: 20px;
}



/********************************************** EDITOR ************************************************/
#content{
	margin-top:50px;
	}
#codearea {
	width: 80%;
	height: 100%;

}

.editor
{
	resize: none;
	text-size: 20px;
	height: 400px;
	width: 98%;
	margin-right: 1%;
	margin-left: 1%;
	
	/* COLOR BG*/
	background: rgba(255,255,255,1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
	border-width: 1px;
	border-style: solid;
	border: medium none;
	
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	
	overflow: auto;
}

#log
{
	width: 98%;
	height: 12%;
	margin-right: 1%;
	margin-left: 1%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
	border-width: 1px;
	border-style: solid;
	border: medium none;
	background: rgba(255,255,255,1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	overflow: auto;
}

/*WO*/

.logTable

{

	border: 1px solid #000;

	margin: 0;

	padding: 0;

	width: 100%;

}

.logTrErrorFirst a

{

	color: #ff0;

}

.logTrWarningFirst a

{

	color: #f70;

}

.logTrErrorFirst td

{

	border-top: 2px solid #f54;

	border-bottom: 1px solid #f53;

	background-color: #f65;

}

.logTrWarningFirst td

{

	border-top: 2px solid #fe2;

	border-bottom: 1px solid #ff0;

	background-color: #ff6;

}

.logTrErrorSecond, .logTrWarningSecond

{

	border-spacing-top: 40px;

}

.logTrErrorSecond

{

	background-color: #fa8;

}

.logTrWarningSecond

{

	background-color: #ffb;

}

.logTrFinalError td, .logTrFinalWarning td

{

	border-top: 1px solid #000;

}

.logTrFinalError td

{

	background-color: #f54;

}

.logTrFinalWarning td

{

	background-color: #ff4;

}

.logTrFinalError td.logTd2, .logTrFinalWarning td.logTd2

{

	padding-top: 5px;

	padding-bottom: 1px;

	padding-left: 5px;

	font-weight: bold;

}

.logTrFinalCompileSuccess td.logTd1

{

	background-color: #af5;

}

.logTrFinalCompileSuccess td.logTd2

{

	background-color: #efa;

	font-weight: bold;

	border: 2px ridge #af5;

}

.logTrFinalCompileWarning td.logTd1

{

	background-color: #ff4;

}

.logTrFinalCompileWarning td.logTd2

{

	background-color: #efa;

	font-weight: bold;

	border: 2px ridge #ff4;

}

.logTrFinalCompileFailure td.logTd1

{

	background-color: #f54;

}

.logTrFinalCompileFailure td.logTd2

{

	background-color: #fb8;

	font-weight: bold;

	border: 2px ridge #f54;

}

.logTd1

{

	border-right: 1px solid #000;

	padding-right: 5px;

	text-align: right;

	width: 45px;

	font-weight: bold;

}

.logTd2

{

	padding-top: 3px;

	padding-left: 5px;

}

.logTdFixed

{

	padding-bottom: 5px;

	font-family: monospace;

}

.logTrErrorSecond td.logTdFixed

{

	border: 2px groove #fa8;

	background-color: #fca;

}

.logTrWarningSecond td.logTdFixed

{

	border: 2px groove #ffb;

	background-color: #ffd;

}

